@import "tailwindcss";

@theme {
  --color-darkblue: #101a25;
  --color-blue: #1b2c3d;
  --color-lightblue: #21374a;
  --color-darkgold: #928764;
  --color-gold: #cdb17b;
  --color-lightgold: #fae194;
  --color-darkred: #230b14;
  --color-red: #33111b;
  --color-lightred: #5e1f29;
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: drak light;
  background: linear-gradient(415deg,#070c11, #21374a);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shiny-text {
  font-weight: bold;
  background: linear-gradient(90deg, #928764, #fae194, #fae194, #928764);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.icon-size {
  width: 2em;
  height: 2em;
}
