@import "tailwindcss";

@theme {
  /* --color-lilac: #c8a2c8;
  --color-teal: #008080;
  --color-babyblue: #add8e6;
  --color-dustyrose: #e7ded9; */
  --color-darkBlue: #0f1e2e; 
  --color-gold: #d4af37; 
  --color-beige: #f5f5dc; 
  --color-burgundy: #800020;
  --color-navy: #1a2d3a;
  --font-playfair: Playfair Display, serif;
  --font-roboto: Roboto, sans-serif;
  --font-poppins: Poppins, sans-serif;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #e7ded9;
  background: linear-gradient(420deg, #12202b,#203547, #2d455c);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Realistic gold text effect */
.shiny-text {
  font-weight:normal;
  font-size: 2em;
  background: linear-gradient(90deg,  #d6bb7a, #f0e3b0, #e5c97e, #f5e1a4, #d6bb7a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* font-family: poiret one, sans-serif; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.icon-size {
  width: 2em;
  height: 2em;
}
